:root {
    --darker: #0D0A10;
    --lighter: #DBCDE4;
}

body {
    margin: 0;
    background-color: var(--darker);
}

#navigation {
    width: auto;

    background-color: var(--lighter);

    display: flex;
    flex-direction: row;
    justify-content: left;
    padding: 25px;
    margin: 0;
}

#logoDiv {
    margin: 25px;
}

#logo {
    height: 44px;
    width: 37px;
}

#buildButton {
    height: 44px;
    background-color: var(--darker);
    border-radius: 10px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 12px;

    margin: 25px;
}

p {
    padding-right: 12px;
    color: var(--lighter);
    font-size: 20px;
    font-family: 'JetBrains Mono', monospace;
}

i {
    color: var(--lighter);
    font-size: 20px;
}

#browseButton {
    height: 44px;
    background-color: var(--darker);
    border-radius: 10px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 12px;

    margin: 25px;
}

#searchBar {
    position: relative;
    height: 44px;
    /* width: 994px; */
    width: 400px;
    background-color: var(--darker);
    border-radius: 10px;

    display: flex;
    flex-grow: 1;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    margin: 25px;

    overflow: hidden;
}

#search {
    position: absolute;
    left: -3px;
    right: -3px;
    height: 50px;

    background-color: var(--darker);
    border-radius: 10px;
    border: 0;
    margin: 0;
    padding-left: 13;
    color: var(--lighter);
    font-size: 20px;
    font-family: 'JetBrains Mono', monospace;

    display: flex;
    flex-grow: 1;
    align-items: center;
}

#search:focus {
    border: 0;
    outline: 0;
}

#glassHighlight {
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    border-radius: 0;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;

    background-color: var(--lighter);

    right: 0px;
    top: 0px;
    height: 44px;
    width: 44px;
}

#glass {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    right: -3px;
    top: -3px;
    height: 50px;
    width: 50px;

    color: var(--lighter);
}

#cancelSearch {
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    right: 47px;
    top: -3px;
    height: 50px;
    width: 50px;
}

#profileButton {
    height: 44px;
    width: 44px;

    font-size: 44px;
    color: var(--darker);

    margin: 25px;
}

#cartButton {
    height: 44px;
    width: 44px;
    
    font-size: 44px;
    color: var(--darker);

    margin: 25px;
}

.featuredItemDiv {
    margin: 50px;
    height: 50vh;

    padding: 25px;

    border: 3px dashed var(--lighter);
    background-color: var(--darker);
}

.featuredImage {
    margin: none;
    height: 100%;
    aspect-ratio: 1;

    background-color: var(--lighter);
}